.profile_img {
  border-radius: 99%;
  width: 64px;
  height: 64px;
}

.banner-img {
  margin: 0px auto;
  height: 250px;
}

.profile_img-small {
  width: 32px;
  height: 32px;
  border-radius: 99%;
  margin-right: 6px;
}

.hand-pointer {
  cursor: pointer;
}

.indent {
  padding-left: 10px;
}

td {
  padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
  margin-bottom: 8px;
}