<md-content>
  <div ng-show="loading_complete">
    <h3 class="md-display-3">{{ game.title }}</h3>
    <div layout="row">
      <div flex="75">
        <h4 class="md-display-1">Rules</h4>
        <p class="md-body-1 indent">
          By participating in this game, you certify that you have read and agree to the
          <a ng-href="{{ game.rules_url }}"><span class="md-body-2">Rules</span></a>,
          <a ng-href="{{ game.waiver_url }}"><span class="md-body-2">Player Waiver</span></a>
          and
          <a ng-href="/toc"><span class="md-body-2">Terms and Conditions</span></a>.
        </p>
      </div>
      <div flex>
        <h4 class="md-display-1">Chat</h4>
        <p class="indent">
          <a ng-href="/game/{{ game.name }}/chat">Open Chat</a>
        </p>
      </div>
    </div>
    <div layout="row">
      <div flex="50" layout="column">
        <h4 class="md-display-1">Dates</h4>
        <table>
          <tr>
            <td class="md-body-2">Registration Starts</td>
            <td>{{ game.registration_date | date:'medium' }}</td>
          </tr>
          <tr>
            <td class="md-body-2">Game Starts</td>
            <td>{{ game.start_date | date:'medium' }}</td>
          </tr>
          <tr>
            <td class="md-body-2">Game Ends</td>
            <td>{{ game.end_date | date:'medium' }}</td>
          </tr>
        </table>
      </div>
      
      <div flex="25" layout="column">
        <h4 class="md-display-1">Game Status</h4>
        <h5 class="md-headline indent">{{ gameState() }}</h5>
      </div>

      <div flex layout="column">
        <h4 class="md-display-1">Players</h4>
        <table>
          <tr ng-repeat="stat in game_stats">
            <td class="md-body-2">{{ stat.title }}</td>
            <td>{{ stat.data }}</td>
          </tr>
        </table>
        <!-- <p class="indent">
          Some Shit
        </p> -->
      </div>
    </div>

    <div ng-if="game.status === 'registration'">
      <h4 class="md-display-1">Registration Instructions</h4>
      <p class="indent">
        Do this
      </p>
      <md-button ng-if="!game.players[player.uid]" ng-click="registerForGame()">Register</md-button>
    </div>

    <md-tabs md-selected="" md-border-bottom md-strech-tabs md-dynamic-height md-swipe-content style="min-height: 200px">

      <md-tab>
        <md-tab-label>
          Map
        </md-tab-label>
        <md-tab-body>
          <ng-include src="'/pages/map.html'" scope="$scope"></ng-include>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          Redeem
        </md-tab-label>
        <md-tab-body>
          <ng-include src="'/pages/redeem.html'" scope="$scope"></ng-include>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          Analytics
        </md-tab-label>
        <md-tab-body>
          <p>
            Hello World
          </p>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          Leaderboard
        </md-tab-label>
        <md-tab-body>
          <p>
            Hello World
          </p>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          Squads
        </md-tab-label>
        <md-tab-body>
          <p>
            Hello World
          </p>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          Flavour
        </md-tab-label>
        <md-tab-body>
          <p>
            Hello World
          </p>
        </md-tab-body>
      </md-tab>

    </md-tabs>
  </div>
  <div style="margin: 0px auto;" ng-hide="loading_complete">
    <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
  </div>
</md-content>